<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.quiz.lesson04.mapper.RealtorMapper">
 
 
 	<!-- URL : http://localhost:8080/lesson04/quiz02/add-realtor -->
 	
 	<!-- INSERT -->
 	<insert id="insertRealtor" parameterType="com.quiz.lesson04.domain.Realtor" useGeneratedKeys="true" keyProperty="id">	
 							<!-- Realtor 객체가 넘어온거라서 parameterType을 도메인 주소로 받음 -->
 		 
 		INSERT INTO `realtor`
 		(
			`office`
			, `phoneNumber`
			, `address`
			, `grade`
			, `createdAt`
			, `updatedAt`
 		)
 		
 		VALUES
 		(
 			#{office}
 			, #{phoneNumber}
 			, #{address}
 			, #{grade}
 			, NOW()
 			, NOW()
 		)
 	
 	</insert>
 	
 	
 	
 	<!-- SELECT -->
 	<select id="selectRealtorById" parameterType="int" resultType="com.quiz.lesson04.domain.Realtor">
 	
 		SELECT
 			`id`
 			, `office`
			, `phoneNumber`
			, `address`
			, `grade`
			, `createdAt`
			, `updatedAt`
		
		FROM
			`realtor`
		
		WHERE
			`id` = #{id}
 	
 	</select>
 	
 	
 </mapper>